// Release configuration
APP_ENV = Release
API_URL_SCHEME = https
API_URL_HOST = finance-tracker-ios-production.up.railway.app
URL_SLASH = /
API_URL = $(API_URL_SCHEME):$(URL_SLASH)$(URL_SLASH)$(API_URL_HOST)
GITHUB_TOKEN =
ANALYTICS_PROVIDER = firebase
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE
